<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CityScout</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/businesses">Business</a>
          <a class="nav-link" href="/businesses/new">New Business</a>
        </div>
        <div class="d-flex search-bar input-group w-25">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <span class="input-group-text">🔍</span>
        </div>
        <div class="navbar-nav ms-auto">
            <a href="/login" class="nav-link">Login</a>
            <a href="/signup" class="nav-link">Sign Up</a>
            <a href="/logout" class="nav-link">Logout</a>
        </div>
      </div>
    </div>
</nav>