<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityScout</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <main class="container">
        <%- include('../partials/success') %>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/validateForm.js"></script>
    <script src="/javascripts/addFileName.js"></script>
    <script src="/public/javascripts/bs-custom-file-input.js"></script>
</body>
</html>