<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityScout</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/app.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet">
</head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <main class="container">
        <%- include('../partials/success') %>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/validateForm.js"></script>
    <script src="/javascripts/addFileName.js"></script>
</body>
</html>